* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #333;
  color: #fff;
}

header {
  background-color: #2a2929;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  width: 50px;
  padding: 3px;
  margin: 0 20px;
  text-align: left;
}

header nav ul {
  list-style: none;
  margin: 20px;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  text-decoration: underline;
}
header nav ul li a.active {
  color: white;
  background-color: #999da1;
  border-radius: 5px;
  padding: 8px;
  text-decoration: none;
}

main img {
  width: 400px;
}
main p {
  font-size: 23px;
}
.size {
  font-size: 17px;
  text-align: justify;
  margin: 30px;
}
.size1 {
  font-size: 17px;
  text-align: center;
  margin: 30px;
}
.clist {
  font-size: 17px;
  text-align: left;
  margin: 30px;
  line-height: 40px;
}
.hsize {
  font-size: 20px;
  margin: 20px;
}
.cont {
  width: 55%;
}
.cont1 {
  display: flex;
}
div .cont li {
  list-style: none;
  padding-left: 40%;
  text-align: left;
  line-height: 25px;
}
.list {
  list-style: none;
  padding-left: 43%;
  text-align: left;
  line-height: 30px;
}
.bs {
  margin-bottom: 30px;
}
.foot1 {
  margin-top: 55px;
}
.foot2 {
  margin-top: 50px;
}
h2 {
  margin-bottom: 5px;
}
h3 {
  margin-bottom: 10px;
}
.home {
  background-color: #333;
  color: white;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.home .intro h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.about,
.skills,
.projects,
.contact {
  padding: 2em;
  text-align: center;
}

.skills ul {
  list-style: none;
}

.skills ul li {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background-color: #333;
  color: white;
  border-radius: 5px;
}

.projects .project-item {
  background-color: #e0e0e0;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 5px;
  text-align: left;
}

.projects .project-item a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #0066cc;
}

.projects .project-item a:hover {
  text-decoration: underline;
}

.contact a {
  display: inline-block;
  margin-top: 3px;
  text-decoration: none;
  color: #0066cc;
}

.contact a:hover {
  text-decoration: underline;
}

footer {
  background-color: #2a2929;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* responsive */
@media (max-width: 500px) {
  header {
    align-items: center;
  }

  header .logo {
    width: 80px;
    padding: 3px;
    margin: 0 20px;
    text-align: left;
  }
  nav ul {
    padding: 5px;
    display: flex;
    flex-direction: column;
    text-align: right;
  }
  nav ul li {
    padding: 5px;
    display: block;
  }
  nav ul li {
    font-size: 16px;
  }
  .home {
    background-color: #333;
    color: white;
    height: 30vh;
    margin: 0px;
    text-align: center;
    padding: 10px;
  }

  .home .intro h1 {
    font-size: 1.75em;
    margin-bottom: 0.5em;
  }
  main p li a {
    font-size: 14px;
  }
  main h2 {
    font-size: 1.5em;
  }
  footer {
    font-size: 14px;
  }
}
